@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

.top_banner button::after {
  content: "close";
}

.top_banner.active button::after {
  content: "open";
}

.top_banner .container {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  transition: 1s;
}

.top_banner.active .container {
  height: 0;
}

.top_banner.active i {
  transform: rotate(180deg);
}

.top_banner {
  position: relative;
  background-color: rgb(253, 253, 112);
}

.top_banner button {
  position: absolute;
  bottom: -18px;
  width: 100px;
  left: 50%;
  line-height: 20px;
  transform: translateX(-50%);
  /*이건 자기자신의 50%를 움직이는 거
  자기자신이 100px이니까 50px이 움직임
  이걸 없애고 margin-left를 500을 주면 됨
  */
  margin-left: 550px;
  background-color: rgb(253, 253, 112);
  border: none;
  outline: none;
  cursor: pointer;
  /*손가락모양*/
  border-radius: 3px;
}

.header {
  line-height: 100vh;
  background: #333;
  color: #fff;
  text-align: center;
}

.right_banner {
  position: fixed;
  top: 50vh;
  right: -101px;
  background: lightgreen;
  transition: right 0.5s;
}

.right_banner.active {
  right: 0;
}

.sun {
  position: absolute;
  top: 300px;
  right: 300px;
  width: 100px;
  height: 100px;
  background: rgb(255, 94, 0);
  border-radius: 50%;
  animation: sun_move 4s infinite linear;
  /*linear 속도 그대로*/
}

.sun li {
  position: absolute;
  width: 20px;
  height: 4px;
  background: rgb(255, 94, 0);
}

.sun li:nth-child(1) {
  top: 48px;
  left: -40px;
}

.sun li:nth-child(2) {
  top: 48px;
  left: 120px;
}

.sun li:nth-child(3) {
  top: -30px;
  left: 40%;
  transform: rotate(90deg);
}

.sun li:nth-child(4) {
  top: 125px;
  left: 40%;
  transform: rotate(90deg);
}

@keyframes sun_move {

  /*애니매이션 짜기*/
  to {
    transform: rotate(360deg);
  }
}

.car {
  position: fixed;
  bottom: 50px;
  right: -300px;
  width: 200px;
  height: 100px;
  background: rgb(211, 211, 255);
  border-radius: 50px 20px 10px 10px;
  animation: car_move 8s infinite linear;
}

.car li:nth-child(1) {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 50px;
  background: #333;
  border-radius: 40px 0 0 0;
}

.car li:nth-child(2) {
  position: absolute;
  bottom: -15px;
  left: 20px;
  width: 30px;
  height: 30px;
  background: rgb(228, 131, 131);
  border-radius: 10px;
  animation: wheel 1s infinite linear;
}

.car li:nth-child(3) {
  position: absolute;
  bottom: -15px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: rgb(228, 131, 131);
  border-radius: 10px;
  animation: wheel 1s infinite linear;
}

@keyframes wheel {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes car_move {
  to {
    right: 2000px;
  }
}

.myheart1 {
  position: absolute;
  top: 250px;
  left: 250px;
  color: rgb(228, 131, 131);
  font-size: 50px;
  animation: heart 2s infinite;
}
.myheart2 {
  position: absolute;
  top: 200px;
  left: 100px;
  color: rgb(228, 131, 131);
  font-size: 30px;
  animation: heart 2s infinite;
}


@keyframes heart {
  to{
    transform: scale(3);
    opacity: 0;
  }
}