.popup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  width: 500px;
  height: 500px;
  background: rgb(214, 172, 172);
}

.popup button{
  position: absolute;
  bottom: 3px;
  right: 3px;
}