.content {
  padding: 100px 0;
}

.content .container {
  display: flex;
  gap: 30px;
  width: 1200px;
  margin: 0 auto;
}

.content .container figure {
  flex: 1;
}

.content .container img {
  width: 100%;
  margin: 0 0 20px 0;
}

.content .container h3 {
  /*h3는 block이므로 패딩 아래값을 줄 수 있다.*/
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 17px;
  font-weight: 500;
  padding: 0 0 12px 0;
}

.content .container p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
}